html,body,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

.footbox{
	height: 60px;	
}
.footbox .footlist{
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footbox .footlist .foot-item{
	display: flex;
	flex-direction: column;
}
.footbox .footlist .foot-item i{
	display: block;
	height: 30px;
	width: 30px;
	background: url(../img/habit_normal.png) no-repeat center;
	background-size: 100%;
}
.footbox .footlist .foot-item .active{
	background: url(../img/habit_pressed.png) no-repeat center;
	background-size: 100%;
}

.footbox .footlist .foot-search i{
	background: url(../img/find_normal.png) no-repeat center;
	background-size: 100%;
}
.footbox .footlist .foot-search .active{
	background: url(../img/find_pressed.png) no-repeat center;
	background-size: 100%;
}
.footbox .footlist .foot-message i{
	background: url(../img/message_normal.png) no-repeat center;
	background-size: 100%;
}
.footbox .footlist .foot-message .active{
	background: url(../img/message_pressed.png) no-repeat center;
	background-size: 100%;
}
.footbox .footlist .foot-mine i{
	background: url(../img/my_normal.png) no-repeat center;
	background-size: 100%;
}
.footbox .footlist .foot-mine .active{
	background: url(../img/my_pressed.png) no-repeat center;
	background-size: 100%;
}
/*习惯列表*/
.card .item-text-wrap{
	overflow: hidden;
}
.card .item-text-wrap .habitType{
	float: left;
	height: 60px;
	width: 60px;
}
.card .item-text-wrap .habitText{
	float: left;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:flex-start;
	padding-left: 20px;
}
.card .item-text-wrap .habitText .habitTit{
	font-size: 18px;
}
.card .item-text-wrap .habitText .habitInfo{
	font-size: 14px;
}

#secIpt{
	width:100%;
	height: 70%;
	border: 0;
	text-indent: 35px;
	background:mediumseagreen url(../img/ic_edit_search.png) no-repeat left center;
	background-size: contain;
	border-radius: 6px;
}
#secIpt::-webkit-input-placeholder{
	color:rgba(100,255,150,.7);
	text-indent: 35px;
}

.tabItemActive{
	border-bottom: 4px solid limegreen;
}

.tabss{
	height: 50px;
	display: flex;
	justify-content: space-around;
	background: #fff;
	border-bottom: 0.1px solid #aaa;
}
.tabss .tab-item{
	height: 50px;
	line-height: 50px;
}
.aHaibit{
	height:80px;
	background:#fff;
	
}
.aHaibit .aHabititem{
	height:80px;
	background: #fff;
	border-bottom: 1px solid #aaa;
	position: relative;
}
.aHaibit .aHabititem .habitType{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -20px;
}
.aHaibit .aHabititem .habitText{
	float: left;
	position: absolute;
	left: 80px;
	top: 50%;
	margin-top: -20px;
}
.aHaibit .aHabititem .habitText .habitInfo{
	color: #AAAAAA;
}
.S_tabs{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: -5px;
}
.S_tabs li{
	width: 20%;
	text-align: center;
	font-size: 22px;
	line-height:40px;
	color: rgba(255,255,255,.5);
}
.S_tabs .Sactive{
	color: rgba(255,255,255,1);
	border-bottom: 4px solid #fff;
}

.jingxuanHabit{
	height: 120px;
	background: #fff;
	margin: 10px;
	border-radius: 6px;
}
.jingxuanHabit h5{
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
}
.jingxuanHabit ul{
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.jingxuanHabit ul li i{
	background: url(../img/login_3.png) no-repeat center 0;
	background-size: 100%;
	display: block;
	width: 50px;
	height: 50px;
}
.jingxuanHabit ul li span{
	display: block;
	text-align: center;
}
.jingxuanHabit ul li:nth-child(2) i{
	background: url(../img/login_2.png) no-repeat center 0;
	background-size: 100%;
}
.jingxuanHabit ul li:nth-child(3) i{
	background: url(../img/login_1.png) no-repeat center 0;
	background-size: 100%;
}
.jingxuanHabit ul li:nth-child(4) i{
	background: url(../img/more_life_style.png) no-repeat center 0;
	background-size: 100%;
}

.adynamic{
	margin: 10px;
	background: #fff;
	border-radius: 4px;
	padding-top: 10px;
}
.adynamic .adynamicTit{
	height: 60px;
	
}
.adynamic .adynamicTit .photobox{
	float: left;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 100%;
}
.adynamic .adynamicTit .tit{
	float: left;
}
.adynamic .adynamicTit .tit h5{
	font-size: 16px;
	padding: 4px;
}
.adynamic .adynamicTit .tit p{
	color: #444;
	padding: 0 4px;
}
.adynamic .adynamicTit .tit p span{
	color: forestgreen;
}

.adynamic .adynamicTit .time{
	float: right;
	padding: 2px 10px;
}
.adynamic .adynamicTit .time time{
	display: block;
	padding: 4px 0;
	font-size: 12px;
	color: #333;
}
.adynamic .adynamicTit .time span{
	display: block;
	text-align: right;
}
.adynamic .imgbox{
	
}
.adynamic .S_foot{
	background: #fff;
}
.adynamic .S_foot ul{
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: space-around;
}
.adynamic .S_foot ul li{
	width: 30px;
	height: 40px;
	background: url(../img/ic_mindfeed_like.png) no-repeat center 6px;
	background-size: 100%;
}
.adynamic .S_foot ul li:nth-child(2){
	background: url(../img/ic_mindfeed_comment.png) no-repeat center 6px;
	background-size: 100%;
}
.adynamic .S_foot ul li:nth-child(3){
	background: url(../img/ic_mindfeed_tree.png) no-repeat center  6px;
	background-size: 100%;
}
.adynamic .S_foot ul li:nth-child(4){
	background: url(../img/ic_more.png) no-repeat center 6px;
	background-size: 100%;
}