.footbox{
	height: 60px;	
}
.footbox .footlist{
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footbox .footlist .foot-item{
	display: flex;
	flex-direction: column;
}
.footbox .footlist .foot-item i{
	display: block;
	height: 30px;
	width: 30px;
	background: url(../img/habit_normal.png) no-repeat center;
	background-size: 100%;
}
.footbox .footlist .foot-item .active{
	background: url(../img/habit_pressed.png) no-repeat center;
	background-size: 100%;
}

.footbox .footlist .foot-search i{
	background: url(../img/find_normal.png) no-repeat center;
	background-size: 100%;
}
.footbox .footlist .foot-search .active{
	background: url(../img/find_pressed.png) no-repeat center;
	background-size: 100%;
}
.footbox .footlist .foot-message i{
	background: url(../img/message_normal.png) no-repeat center;
	background-size: 100%;
}
.footbox .footlist .foot-message .active{
	background: url(../img/message_pressed.png) no-repeat center;
	background-size: 100%;
}
.footbox .footlist .foot-mine i{
	background: url(../img/my_normal.png) no-repeat center;
	background-size: 100%;
}
.footbox .footlist .foot-mine .active{
	background: url(../img/my_pressed.png) no-repeat center;
	background-size: 100%;
}
/*习惯列表*/
.card .item-text-wrap{
	overflow: hidden;
}
.card .item-text-wrap .habitType{
	float: left;
	height: 60px;
	width: 60px;
}
.card .item-text-wrap .habitText{
	float: left;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:flex-start;
	padding-left: 20px;
}
.card .item-text-wrap .habitText .habitTit{
	font-size: 18px;
}
.card .item-text-wrap .habitText .habitInfo{
	font-size: 14px;
}

#secIpt{
	width:100%;
	height: 70%;
	border: 0;
	text-indent: 35px;
	background:mediumseagreen url(../img/ic_edit_search.png) no-repeat left center;
	background-size: contain;
	border-radius: 6px;
}
#secIpt::-webkit-input-placeholder{
	color:rgba(100,255,150,.7);
	text-indent: 35px;
}

.tabItemActive{
	border-bottom: 4px solid limegreen;
}
