<ion-view title="习惯">
    <!--头部右边按钮-->
    <ion-nav-buttons side="right">
      <button class="button" ng-click="editComplete()" style="border: 0;font-size: 0.3rem;" nav-direction="back">完成</button>
      
    </ion-nav-buttons>
	<!--内容区域-->
	<ion-content style="background: #F2F1EF;">
		<!--习惯列表-->
		<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
        <ion-item ng-repeat="item in items track by $index" item="item" class="item-remove-animate">
          	{{item.name}}
	          <!--删除-->
	        <ion-delete-button class="ion-minus-circled" 
	                             ng-click="onItemDelete(item)">
	        </ion-delete-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)">
          	
          </ion-reorder-button>
        </ion-item>

     </ion-list>
	</ion-content>
</ion-view>