<ion-view title="习惯">
	<!--头部左按钮-->
	<ion-nav-buttons side="left">
      <button class="button" ng-click="habitEdit()" style="border: 0;font-size: 16px;">编辑</button>
    </ion-nav-buttons>
    <!--头部右边按钮-->
    <ion-nav-buttons side="right">
      <button class="button" ng-click="addHabit()" style="border: 0;font-size: 16px;"><i class="icon ion-plus-round"></i></button>
      
    </ion-nav-buttons>
	<!--内容区域-->
	<ion-content style="background: #F2F1EF;">
		<div class="card"  ng-repeat="data in datalist track by $index" ng-click=" $state.go('myhabitDetail',{habitId:data.name})">
			<!--习惯卡片-->
			<div class="item item-text-wrap">
			 	<i class="habitType"  style="background: url(img/login_{{data.logosrc}}.png) no-repeat 0 0;background-size: 100%;"></i>
			 	<div class="habitText">
			 		<h4 class="habitTit">{{data.name}}</h4>
			 		<p class="habitInfo">已坚持{{data.days}}天  提醒时间{{data.time}}</p>
			 	</div>
			</div>
		</div>
	</ion-content>
	
	<!--底部-->
	<ion-footer-bar class="footbox bar-light">
		<ul class="footlist">
			<li class="foot-item foot-habit"><i class="active"></i><span>习惯</span></li>
			<li class="foot-item foot-search" ng-click="$state.go('search')"><i></i><span>发现</span></li>
			<li class="foot-item foot-message" ng-click="$state.go('message')"><i></i><span>消息</span></li>
			<li class="foot-item foot-mine" ng-click="$state.go('my')"><i></i><span>我的</span></li>
		</ul>
	</ion-footer-bar>
</ion-view>
