<ion-view title="userInfo">
    <!--头部右边按钮-->
    <ion-nav-buttons side="right">
      <button class="button" ng-click="editComplete()" style="border: 0;font-size: 0.4rem;"><i class="ion-gear-a"></i></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
      <button class="button" ng-click="editComplete()" style="border: 0;font-size: 0.4rem;"><i class="ion-person-add"></i></button>
    </ion-nav-buttons>
    
	<!--内容区域-->
	<ion-content style="background: #F2F1EF;">
		<!--下拉刷新-->
		<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
		</ion-refresher>
		
		<div class="my_userbox">
			<div class="topbox">
				<div class="photo">
					<img src="img/login_8.png" width="100%"/>
				</div>
				<ul>
					<li><span>3</span><i>习惯</i></li>
					<li><span>1</span><i>关注</i></li>
					<li><span>0</span><i>粉丝</i></li>
				</ul>
			</div>
			<p class="txt">一切，源于喜欢</p>
			<div class="btns">	
				<i class="ion-grid" style="color: green;"></i>
				<i class="ion-navicon-round" style="color: gray;"></i>
			</div>
		</div>
		<div class="aRecord" ng-repeat="data in myhabitList track by $index">
			<h5>{{data.name}}</h5>
			<p>{{data.stime}}-{{data.etime}}共坚持{{data.days}}天</p>
			<div class="imgbox">
				<img src="img/img{{data.imgsrc}}.jpg" width="100%" height="100%" />
			</div>
		</div>
		<!--上拉加载-->
		<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="ismore">
  		</ion-infinite-scroll>	
	</ion-content>
	
	<!--底部-->
	<ion-footer-bar class="footbox bar-light">
		<ul class="footlist">
			<li class="foot-item foot-habit" ng-click="$state.go('habit')"><i></i><span>习惯</span></li>
			<li class="foot-item foot-search" ng-click="$state.go('search')"><i></i><span>发现</span></li>
			<li class="foot-item foot-message" ng-click="$state.go('message')"><i></i><span>消息</span></li>
			<li class="foot-item foot-mine" ng-click="$state.go('my')"><i class="active"></i><span>我的</span></li>
		</ul>
	</ion-footer-bar>
</ion-view>