<ion-view title="{{habitname}}">
	<ion-nav-buttons side="left">
      <button class="button" ng-click="$state.go('habit')" style="border:0;font-size: 20px;">
      	<i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button" ng-click="tools()" style="border:0;font-size: 16px;">
      	工具
      </button>
    </ion-nav-buttons>
    <ion-content style="background: #F2F1EF;">
    	<!--下拉刷新-->
		<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
		</ion-refresher>
    	<div class="signIn">
    		<p>昨天</p>
    		<div class="signLogo">
    			<div class="signbg"></div>
    			<img src="img/check_out.png" width="100%"/>
    		</div>
    	</div>
    	<div class="statistics">
    		<p><i></i>生长统计<i class="ion-chevron-right right"></i><span>已坚持？？天</span></p>
    		<ul>
    			<li><span>一</span><i class="isIcion"></i></li>
    			<li><span>二</span><i class="isIcion"></i></li>
    			<li><span>三</span><i class="isIcion"></i></li>
    			<li><span>四</span><i class="isIcion"></i></li>
    			<li><span>五</span><i class="isIcion"></i></li>
    			<li><span>六</span><i class="isIcion"></i></li>
    			<li><span>日</span><i class="isIcion"></i></li>
    		</ul>
    	</div>
    	<!--展示每条动态-->
    	<div class="adynamic" ng-repeat="data in commontList track by $index">
			<div class="adynamicTit">
				<div class="photobox">
					<img src="img/login_{{data.photo}}.png" width="100%"/>
				</div>
				<div class="tit"> 
					<h5>{{data.userName}}</h5>
					<p>坚持<span>#{{data.habitType}}#</span></p>
				</div>
				<div class="time">
					<time>今天{{data.time}}</time>
					<span>{{data.days}}天</span>
				</div>
			</div>
			<div class="imgbox">
				<img src="img/img{{data.imgsrc}}.jpg" width="100%"/>
			</div>
			<div class="S_foot">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
				<!--上拉加载-->
		<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="ismore">
  	</ion-infinite-scroll>
    </ion-content>
</ion-view>