<ion-view hide-nav-bar="true">
	<ion-header-bar align-title="left" class="bar-balanced" style="height: 50px;">
		<ul class="nav navbar-nav S_tabs">
			<li ui-sref-active="active" ng-class="{Sactive:true}" ng-click="clickTab(1,'hot')">热门</li>
			<li ui-sref-active="active" ng-class="{Sactive:false}" ng-click="clickTab(2,'focus')">关注</li>
			<li ui-sref-active="active" ng-class="{Sactive:false}" ng-click="clickTab(3,'newest')">最新</li>
		</ul>
	</ion-header-bar>
	<ion-content style="background: #F2F1EF;margin-top: 5px;">
		<!--下拉刷新-->
		<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
		</ion-refresher>
		
	  	<ion-slide-box style="height: 200px;background: #fff;margin:10px;border-radius: 6px;" auto-play="true" slide-interval="3000" does-continue="true" show-pager="false">
		  <ion-slide>
		    <div style="background: darkorange;height:100%;"><h1 style="color: #fff;text-align: center;line-height: 150px;">种子读书</h1></div>
		  </ion-slide>
		  <ion-slide>
		    <div style="background: #32CD32;height: 100%;"><h1 style="color: #fff;text-align: center;line-height: 150px;">种子契约</h1></div>
		  </ion-slide>
		</ion-slide-box>
		
		<div class="jingxuanHabit">
			<h5>生活方式精选</h5>
			<ul>
				<li ng-click="$state.go()"><i></i><span>左手练字</span></li>
				<li ng-click="$state.go()"><i></i><span>左手练字</span></li>
				<li ng-click="$state.go()"><i></i><span>左手练字</span></li>
				<li ng-click="$state.go()"><i></i><span>更多</span></li>
			</ul>
		</div>
		<!--展示每一条动态-->
		<div class="adynamic" ng-repeat="data in commontList track by $index">
			<div class="adynamicTit">
				<div class="photobox">
					<img src="img/login_{{data.photo}}.png" width="100%"/>
				</div>
				<div class="tit"> 
					<h5>{{data.userName}}</h5>
					<p>坚持<span>#{{data.habitType}}#</span></p>
				</div>
				<div class="time">
					<time>今天{{data.time}}</time>
					<span>{{data.days}}天</span>
				</div>
			</div>
			<div class="imgbox">
				<img src="img/img{{data.imgsrc}}.jpg" width="100%"/>
			</div>
			<div class="S_foot">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
		<!--上拉加载-->
		<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="ismore">
  		</ion-infinite-scroll>	
	</ion-content>
	
	<!--底部-->
	<ion-footer-bar class="footbox bar-light">
		<foot-part style="width: 100%;"></foot-part>
	</ion-footer-bar>
</ion-view>